<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.1.min.js"></script>
<script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
<script type="text/javascript">
      (function() {
        const fn = function() {
          Bokeh.safely(function() {
            (function(root) {
              function embed_document(root) {
              const docs_json = document.getElementById('p4329').textContent;
              const render_items = [{"docid":"9e8372ec-3049-4cdf-ba2c-4e8679aad18e","roots":{"p4084":"fa0d4550-3eb4-4c9f-bf25-cf780071b904"},"root_ids":["p4084"]}];
              root.Bokeh.embed.embed_items(docs_json, render_items);
              }
              if (root.Bokeh !== undefined) {
                embed_document(root);
              } else {
                let attempts = 0;
                const timer = setInterval(function(root) {
                  if (root.Bokeh !== undefined) {
                    clearInterval(timer);
                    embed_document(root);
                  } else {
                    attempts++;
                    if (attempts > 100) {
                      clearInterval(timer);
                      console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                    }
                  }
                }, 10, root)
              }
            })(window);
          });
        };
        if (document.readyState != "loading") fn();
        else document.addEventListener("DOMContentLoaded", fn);
      })();
    </script>
<div id="fa0d4550-3eb4-4c9f-bf25-cf780071b904" data-root-id="p4084" style="display: contents;"></div>