<!-- map_selector.html -->
<select id="mapSelector" onchange="changeMap()">
    <option value="choropleth_Asian.html">Asian</option>
    <option value="choropleth_Bakery, Desserts & Snacks.html">Bakery, Desserts & Snacks</option>
    <option value="choropleth_Beverages & More.html">Beverages & More</option>
    <option value="choropleth_Burgers.html">Burgers</option>
    <option value="choropleth_Hotdogs.html">Hotdogs</option>
    <option value="choropleth_Mexican.html">Mexican</option>
    <option value="choropleth_Pizza.html">Pizza</option>
    <option value="choropleth_Salads_Vegan.html">Salads/Vegan</option>
    <option value="choropleth_Sandwiches.html">Sandwiches</option>
    <option value="choropleth_Seafood.html">Seafood</option>
</select>

<iframe id="mapFrame" src="{{ 'choropleth_Asian.html' | prepend: https://thomasstycke.github.io// }}" style="width: 100%; height: 600px;"></iframe>

<script>
    function changeMap() {
        var selector = document.getElementById('mapSelector');
        var selectedMap = selector.value;
        var frame = document.getElementById('mapFrame');
        frame.src = "{{ https://thomasstycke.github.io// }}" + "/_includes/Choropleth_maps/" + selectedMap; // Make sure this path is correct
    }
</script>
