<!-- map_selector.html -->
<select id="mapSelector" onchange="changeMap()">
    <option value="choropleth_Asian">Asian</option>
    <option value="choropleth_Bakery, Desserts & Snacks">Bakery, Desserts & Snacks</option>
    <option value="choropleth_Beverages & More">Beverages & More</option>
    <option value="choropleth_Burgers">Burgers</option>
    <option value="choropleth_Hotdogs">Hotdogs</option>
    <option value="choropleth_Mexican">Mexican</option>
    <option value="choropleth_Pizza">Pizza</option>
    <option value="choropleth_Salads_Vegan">Salads/Vegan</option>
    <option value="choropleth_Sandwiches">Sandwiches</option>
    <option value="choropleth_Seafood">Seafood</option>
</select>

<iframe id="mapFrame" style="width: 100%; height: 600px;"></iframe>

<script>
    function changeMap() {
        var selector = document.getElementById('mapSelector');
        var selectedMap = selector.value;
        var frame = document.getElementById('mapFrame');
        frame.src = "{{ '/Choropleth_maps/' | prepend: site.baseurl }}" + selectedMap + ".html";
    }
</script>
